client/CMakeLists.txt.user
client/tests/CMakeLists.txt.user
build-client-Desktop_Qt_5_15_2_GCC_64bit-Debug/*
build-client-Desktop_Qt_5_15_2_GCC_64bit-Release/*
server/env.sh
server/database.db
server/internal/services/ege/python/env
server/internal/services/ege/python/scripts/__pycache__/*
